<!DOCTYPE html>

<html>

<head>
    <title>Sistema de Controle</title>
</head>

<body>
    <center> 
        <h1> Sistema de Controle</h1>
        <br> <br>
        {{{body}}}
    </center>
</body>

</html>